#index-content {
	padding-top: 100vh;

	.bg-1,
	.bg-2 {
		display: none;
	}

	.index-banner-wrapper {
		background-color: $color-1;
		position: relative;

		.index-banner-title {
			color: lighten($light, 50%);
			z-index: 2;
			background-color: rgba($color-1, 0.8);
			margin: 0;
			width: 100%;
			padding: 3rem;
		}

		&.about {
			overflow: hidden;

			.bg-1 {
				position: absolute;
				top: -25%;
				right: -25%;
				height: 200%;
				width: 100%;
				background-color: darken($color-1, 15%);
				z-index: 0;
				transform: rotate(320deg);
			}
			.bg-2 {
				position: absolute;
				top: 75%;
				left: -25%;
				height: 200%;
				width: 150%;
				background-color: darken($color-1, 10%);
				z-index: 0;
				transform: rotate(10deg);
			}
		}

		&.services {
			background-color: $color-1;
			overflow: hidden;

			.bg-1 {
				position: absolute;
				top: -50%;
				left: 25%;
				height: 100%;
				width: 100%;
				background-color: darken($color-1, 10%);
				z-index: 0;
				transform: rotate(270deg);
			}
			.bg-2 {
				position: absolute;
				top: -50%;
				left: -50%;
				height: 125%;
				width: 150%;
				background-color: lighten($color-1, 10%);
				z-index: 0;
				transform: rotate(75deg);
			}
		}

		&.contact {
			overflow: hidden;

			.bg-1 {
				position: absolute;
				top: -50%;
				left: 25%;
				height: 100%;
				width: 100%;
				background-color: darken($color-1, 15%);
				z-index: 0;
				transform: rotate(75deg);
			}
			.bg-2 {
				position: absolute;
				top: -50%;
				left: -50%;
				height: 125%;
				width: 150%;
				background-color: darken($color-1, 7.5%);
				z-index: 0;
				transform: rotate(280deg);
			}
		}
	}

	.index-blurb-anchor {
		height: 50vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.index-blurb-bg {
			position: absolute;
			height: 50vh;
			width: 100%;
			object-fit: cover;
			filter: brightness(50%) contrast(70%);
		}

		.index-blurb {
			text-align: center;
			color: $light;
		}
	}

	#index-about {
		.index-about-bios {
			min-height: 50vh;
			margin: 5rem 0;
		}
	}

	#index-services {
		.index-services-offerings {
			margin: 5rem 0;
		}
	}

	#index-contact {
		// styling
	}
}

@media (min-width: $bp-sm) {
	// --------------------- .index-banner-title --------------------- //

	#index-content {
		.bg-1,
		.bg-2 {
			display: initial;
		}

		.index-banner-wrapper .index-banner-title {
			padding: 2rem 4rem;
			border-radius: 0.2rem;
			margin: 4rem 0;
			width: initial;
			background-color: saturate(rgba($color-2, 0.8), 25%);
		}
	}
}
