.bio {
	padding: 1rem;
	.bio-card {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: none;

		.bio-img {
			height: 15rem;
			width: 15rem;
			border-radius: 50%;
			object-fit: cover;
			margin-bottom: -1rem;
		}

		.bio-info {
			padding: 0 2rem;
			border-radius: 0.5rem;
			background-color: $color-1;
			color: $color-2;
			min-height: 15rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;

			.bio-name {
				margin-top: 2rem;
				text-emphasis: bold;
			}

			.bio-occupation {
				font-weight: 300;
				color: $light;
			}

			.bio-learn-more {
				margin-top: auto;
				margin-bottom: 2rem;
			}
		}
	}
}
