// --------------------- SM --------------------- //

@media (min-width: 576px) {
	// --------------------- .index-banner-title --------------------- //

	#index-content .index-banner-wrapper .index-banner-title {
		padding: 2rem 4rem;
		border-radius: 0.2rem;
		margin: 4rem 0;
		width: initial;
		background-color: saturate(darken(rgba($color-1, 0.8), 60%), 25%);
	}
}

// --------------------- MD --------------------- //

@media (min-width: 768px) {
	// --------------------- Nav --------------------- //
	#nav {
		.navbar {
			.nav-brand {
				padding: 1.1rem;
			}

			.navbar-collapse {
				height: initial;
				position: static;

				.navbar-nav {
					.nav-item {
						padding: 1.5rem;
					}
				}
			}
		}
	}

	// --------------------- .banner-title --------------------- //

	.banner-title {
		font-size: 3rem;
	}
}

// --------------------- LG --------------------- //

@media (min-width: 992px) {
	// --------------------- .jumbotron --------------------- //

	.jumbotron {
		.slug {
			flex-direction: row;
		}

		.slug-special {
			color: $color-2;
		}
	}

	// --------------------- .offering --------------------- //

	.offering {
		.offering-card {
			flex-direction: column;
			.offering-img {
				height: 12rem;
				min-width: 12rem;
				margin-bottom: -1.5rem;
				z-index: 1;
			}
			.offering-info {
				background-color: darken($color-1, 35%);
				color: $dark;
				min-height: 20rem;
				z-index: 0;
			}
		}
	}
}

// --------------------- XL --------------------- //

@media (min-width: 1200px) {
	// --------------------- .jumbotron --------------------- //

	.jumbotron {
		.tea {
			font-size: 3.5rem;
		}
	}
}
