.btn {
	padding: 1rem;
}

.btn-1 {
	background-color: $color-1;
	color: $dark;

	&:hover {
		background-color: darken($color-1, 10%);
		color: $color-2;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem darken($color-1, 25%);
	}

	&:active {
		background-color: $color-2;
		margin-top: 0.1rem;
		margin-bottom: -0.1rem;
		color: $color-1;
	}
}

.btn-2 {
	background-color: $color-2;
	color: $light;

	&:hover {
		background-color: darken($color-2, 5%);
		color: $color-1;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem darken($color-2, 15%);
	}

	&:active {
		background-color: darken($color-1, 20%);
		margin-top: 0.1rem;
		margin-bottom: -0.1rem;
		color: darken($color-1, 50%);
	}
}

.banner-title {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
}

.color-1 {
	color: $color-1;
}

.color-2 {
	color: $color-2;
}
