.btn {
	padding: 1rem;
	background-color: $color-2;
	color: $light;

	&:hover {
		background-color: lighten($color-2, 5%);
		color: $light;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem darken($color-2, 15%);
	}

	&:active {
		background-color: darken($color-2, 5%);
		margin-top: 0.3em;
		margin-bottom: -0.3rem;
		color: $light;
	}
}

.banner-title {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
}

@media (min-width: $bp-md) {
	.banner-title {
		font-size: 3rem;
	}
}

.color-1 {
	color: $color-1;
}

.color-2 {
	color: $color-2;
}
