@import 'variables.module.scss';
@import 'mixins.scss';

// Components
@import '_Nav.scss';
@import '_ScrollDownAlert.scss';
@import './index/_IndexBio.scss';
@import './about/_AboutBio.scss';
@import './index/_IndexOffering.scss';
@import './services/_ServicesOffering.scss';

// Pages
@import './index/_Index.scss';
@import './about/_About.scss';
@import './services/_Services.scss';
@import './contact/_Contact.scss';
@import '_notFound.scss';

// Classes
@import '_jumbotron.scss';

// Keyframes
@import '_keyframes.scss';

// Media Queries
@import '_mediaQueries.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// overflow-x: hidden;
	font-family: $font-1;
}

a {
	text-decoration: none;
	color: $dark;

	&:hover {
		text-decoration: none;
		color: $color-2;
	}
}
